body {
	/*overflow: none;*/
}

.message-container {
	width: 100%;
	background-color: #E7E7E7;
	margin-bottom: 1px;
}

.posted-img {
	align-content: center;
	max-width: 100%;
	max-height: 450px;
    display: block;
    /*margin: 0 auto;	*/
}


#chat-log {
	height: 500px;
	overflow-y: scroll;
	width: 100%;
}

#message-date {
	font-size: 12px;
	padding-left: 7px;
}

#message-body {
	font-size: 16px;
	padding-left: 10px;
	padding-right:10px;
	/*overflow:hidden;*/
   	word-wrap:break-word;	
   	min-height: 40px;
	/*overflow: hidden;*/
	height:auto;

}

#message-from {
	font-size: 16px;
	padding-left: 5px;
}

#chat-box-input {
	padding-top: 10px;
	position: absolute;
}

#message-body-input {
	width: 300px;
}

#message-from-input {
	width:300px;
}
