body {

}

.message-container {
	width: 100%;
	height: 50px;
	background-color: #E7E7E7;
	margin-bottom: 1px;
}

#chat-log {
	height: 400px;
	overflow-y: scroll;
}

#message-date {
	font-size: 12px;
	padding-left: 7px;
}

#message-body {
	font-size: 16px;
	padding-left: 10px;
	/*overflow: hidden;*/
}

#message-body-input {
	width: 300px;
}

#message-from-input {
	width:300px;
}

#chat-box-input {
	padding-top: 10px;
}

#message-from {
	font-size: 16px;
	padding-left: 5px;
}